.slider-image {
    transition: opacity 1s ease-in-out;
}

.login-circle {
    animation: pulse-glow 2s infinite;
}

@keyframes pulse-glow {

    0%,
    100% {
        box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.4);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(37, 99, 235, 0);
    }
}